body{
    background-color: black;
    text-align: center;
}
h1{
    text-transform: uppercase;
    font-size: xx-large;
    color: white;
}
p{
    font-size: 120%;
    color: white;
}
.opciones button {
    background-color: #080808;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
}
a{
    color: white;
}
.ti{
    color: white;
    font-size: 400%;
}